.app-title {
  cursor: pointer;
}

.header-button {
  border: 0;
  cursor: pointer;
  margin-right: 12px;
}

.header-spacer {
  flex: 1 1 auto;
}

.info {
  padding: 8px;
  margin-right: 20px;
}

.user-select {
  margin-top: 16px;
}