<div class="container">
     <h2>Coding Test</h2>
     <h4>Thank You for taking the time to review my coding test.</h4>
     <p>The default user when application is started has the role of Administator.</p>
     <p>The current user can be changed with the dropdown in the navbar.</p>
     <br/>
     <h3>Features</h3>     
     <ul>
          <li>Menubar - Menu button will Expand/Collapse the Side Nav</li>
          <li>Menubar - App Title links to home page</li>
          <li>Menubar - Dropdown changes current user</li>
          <li>Side Nav - Links navigate to FakeComponent and display URL</li>
          <li>Side Nav - Headers show/hide child nodes</li>
     </ul>
     <h3>Data</h3>     
     <ul>
          <li>User - User has a Name and an associated Role (RoleId)</li>
          <li>Role - Role has a Name</li>
          <li>Link - Link has a display value, url, icon and list of associated Roles</li>
          <li>Navigation Node - Navigation Node has a link, an order, and possibly child nodes</li>
          <li>Layout - Layout has an associated Role and a list of Navigation Nodes</li>
     </ul>
     <h3>TODO</h3>     
     <ul>
          <li>Side Nav does have the minimized icon only view</li>
          <li>No Admin pages for adding / removing Users or Roles</li>
          <li>Router is not checking Roles</li>
     </ul>
</div>

